# This file acts as a template for the actual .env file.

# Server Configuration
PORT=3000

# Database Configuration 
DB_USER=sage_user
DB_PASSWORD=sage_password
DB_NAME=sage_marigold_db
DB_PORT=5432

# Security (Placeholder)
JWT_SECRET=secret_key

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_secret_key
# Email configuration (Placeholder)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=email_user
EMAIL_PASS=email_password
